.container1 {
	display: flex;
}

.myContainer {
	width: 75%;
	margin: auto;
}

#dataHeader {
	margin-top: 50px;
	margin-left: 3%;
}

#menuButtons {
	border-top: 1px solid #E9ECEF;
	border-bottom: 1px solid #E9ECEF;
	padding: 12px 0px 6px 0px;
}

#table {
	margin-top: 50px;
	border-spacing: 5px;
}

#menuButtons>div {
	padding-right: 40px;
}

.bg-reported {
	/* background-color: #bfeeee; */
	color: #6672d9;
}

.bg-recovered {
	/* background-color: #afedb7; */
	color: #39ae63;
}

.bg-death {
	/* background-color: #ffa39d; */
	color: #ff0d00;
}