<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>PIE</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

</head>
<body>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	<div class="container">

		<h1>
			<a href="/">Coronavirus Tracker</a>
		</h1>
		<h5>Application to track the coronavirus cases</h5>

		<div id="container1" style="height: 400px"></div>

		<div style="height: 40px"></div>

		<div id="container2" style="height: 400px"></div>

		<script th:inline="javascript">
			var totalCaseId = 'container1';
			var newCaseId = 'container2';

			var chart_case = /*[[${chart_case}]]*/'default';
			var topTotalCasesCountries = /*[[${topTotalCasesCountries}]]*/'default';
			var topTotalCasesData = /*[[${topTotalCasesData}]]*/'default';
			var topNewCasesCountries = /*[[${topNewCasesCountries}]]*/'default';
			var topNewCasesData = /*[[${topNewCasesData}]]*/'default';
			
			var totalCaseTitle = 'Total ' + chart_case + ' Cases coronavirus countries';
			var newCaseTitle = 'New ' + chart_case + ' Cases coronavirus countries';

			chart(totalCaseId,totalCaseTitle,topTotalCasesCountries,topTotalCasesData);
			chart(newCaseId,newCaseTitle,topNewCasesCountries,topNewCasesData);
			
			function chart(id, title, categories, data) {
				var chart = Highcharts.chart(id, {

					title : {
						text : title
					},

					subtitle : {
						text : 'Plain'
					},

					xAxis : {
						categories : categories
					},

					series : [ {
						type : 'column',
						colorByPoint : true,
						data : data,
						showInLegend : false
					} ]

				});
			}
		</script>

	</div>
</body>
</html>