<!DOCTYPE html>
<html>
<head>
<title>Coronavirus Tracker</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
	
	<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

	<div class="myContainer">

		<h1>
			<a href="/">Coronavirus Tracker</a>
		</h1>
		<h5>Application to track the coronavirus cases</h5>

		<div class="row" id="dataHeader">
			<div class="container1">
				<div class="jumbotron text-center col-md-6">
					<h1 class="display-4" th:text="${totalReportedCases}"></h1>
					<p class="lead">Total Reported Cases</p>
					<hr class="my-4">
					<p>
						<span>New Reported Cases:</span> <span
							class="font-weight-bold" th:text="${totalNewReportedCases}"></span>
					</p>
				</div>

				<div class="text-center col-md-1"></div>

				<div class="jumbotron text-center col-md-6">
					<h1 class="display-4" th:text="${totalRecoveredCases}"></h1>
					<p class="lead">Total Recovered Cases</p>
					<hr class="my-4">
					<p>
						<span>New Recovered Cases:</span> <span
							class="font-weight-bold" th:text="${totalNewRecoveredCases}"></span>
					</p>
				</div>

				<div class="text-center col-md-1"></div>

				<div class="jumbotron text-center col-md-6">
					<h1 class="display-4" th:text="${totalDeathCases}"></h1>
					<p class="lead">Total Death Cases</p>
					<hr class="my-4">
					<p>
						<span>New Death Cases:</span> <span
							class="font-weight-bold" th:text="${totalNewDeathCases}"></span>
					</p>
				</div>
			</div>
		</div>
		
		<table class="table" id="table">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>State</th>
					<th>Country</th>
					<th>Total Reported Cases</th>
					<th>New Reported Cases</th>
					<th>Total Recovered Cases</th>
					<th>New Recovered Cases</th>
					<th>Total Death Cases</th>
					<th>New Death Cases</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${coronavirusCaseCountryList}">
					<td th:text="${listStat.index+1}"></td>
					<td th:text="${list.state}"></td>
					<td th:text="${list.country}"></td>
					<td th:text="${list.totalReportedCases}" class="bg-reported">0</td>
					<td th:text="${list.newReportedCases}" class="bg-reported">0</td>
					<td th:text="${list.totalRecoveredCases}"
						class="bg-recovered">0</td>
					<td th:text="${list.newRecoveredCases}"
						class="bg-recovered">0</td>
					<td th:text="${list.totalDeathCases}" class="bg-death">0</td>
					<td th:text="${list.newDeathCases}" class="bg-death">0</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>

