<!DOCTYPE html>
<html>
<head>
<title>Coronavirus Tracker</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

	<div class="myContainer">


		<h1>
			<a href="/">Coronavirus Tracker</a>
		</h1>
		<h5>Application to track the coronavirus cases</h5>

		<div class="row" id="dataHeader">
			<div class="container1">
				<div class="jumbotron text-center col-md-6">
					<h1 class="display-4" th:text="${totalReportedCases}"></h1>
					<p class="lead">Total Reported Cases</p>
					<hr class="my-4">
					<p>
						<span>New Reported Cases:</span> <span class="font-weight-bold"
							th:text="${totalNewReportedCases}"></span>
					</p>
				</div>

				<div class="text-center col-md-1"></div>

				<div class="jumbotron text-center col-md-6">
					<h1 class="display-4" th:text="${totalRecoveredCases}"></h1>
					<p class="lead">Total Recovered Cases</p>
					<hr class="my-4">
					<p>
						<span>New Recovered Cases:</span> <span class="font-weight-bold"
							th:text="${totalNewRecoveredCases}"></span>
					</p>
				</div>

				<div class="text-center col-md-1"></div>

				<div class="jumbotron text-center col-md-6">
					<h1 class="display-4" th:text="${totalDeathCases}"></h1>
					<p class="lead">Total Death Cases</p>
					<hr class="my-4">
					<p>
						<span>New Death Cases:</span> <span class="font-weight-bold"
							th:text="${totalNewDeathCases}"></span>
					</p>
				</div>
			</div>
		</div>

		<div id="menuButtons">
			<div class="d-inline">
				<form class="form-inline d-inline" action="/country_wise_cases">
					<label class="sr-only" for="country">Select Country</label> <select
						class="form-control mb-2 mr-sm-2" id="country" name="country">

						<option value="Australia">Australia</option>
						<option value="Belgium">Belgium</option>
						<option value="Cambodia">Cambodia</option>
						<option value="Canada">Canada</option>
						<option value="Finland">Finland</option>
						<option value="France">France</option>
						<option value="Germany">Germany</option>
						<option value="Hong Kong">Hong Kong</option>
						<option value="India">India</option>
						<option value="Italy">Italy</option>
						<option value="Japan">Japan</option>
						<option value="Macau">Macau</option>
						<option value="Mainland China">Mainland China</option>
						<option value="Malaysia">Malaysia</option>
						<option value="Nepal">Nepal</option>
						<option value="Others">Others</option>
						<option value="Philippines">Philippines</option>
						<option value="Russia">Russia</option>
						<option value="Singapore">Singapore</option>
						<option value="South Korea">South Korea</option>
						<option value="Spain">Spain</option>
						<option value="Sri Lanka">Sri Lanka</option>
						<option value="Sweden">Sweden</option>
						<option value="Taiwan">Taiwan</option>
						<option value="Thailand">Thailand</option>
						<option value="UK">UK</option>
						<option value="US">US</option>
						<option value="United Arab Emirates">United Arab Emirates</option>
						<option value="Vietnam">Vietnam</option>

					</select>
					<button type="submit" class="btn btn-primary mb-2">Country
						Data</button>
				</form>
			</div>

			<div class="d-inline">
				<form class="form-inline d-inline" action="/chart">
					<label class="sr-only" for="chart_case">Select Chart Type</label> <select
						class="form-control mb-2 mr-sm-2" id="chart_case"
						name="chart_case">

						<option value="reported">Reported</option>
						<option value="recovered">Recovered</option>
						<option value="death">Death</option>

					</select>
					<button type="submit" class="btn btn-primary mb-2">Chart</button>
				</form>
			</div>

			<div class="d-inline float-right">
				<form class="form-inline d-inline" action="/home">
					<label class="sr-only" for="sortby">Sort By</label> <select
						class="form-control mb-2 mr-sm-2" id="sortby" name="sortby"
						onchange="this.form.submit()">
						<option value="sortby">Sort By</option>
						<option value="state">State</option>
						<option value="state_desc">State: desc</option>
						<option value="country">Country</option>
						<option value="country_desc">Country: desc</option>
						<option value="totalReportedCase">TotalReportedCase</option>
						<option value="totalReportedCase_desc">TotalReportedCase:
							desc</option>
						<option value="newReportedCase">NewReportedCase</option>
						<option value="newReportedCase_desc">NewReportedCase:
							desc</option>
						<option value="totalRecoveredCase">TotalRecoveredCase</option>
						<option value="totalRecoveredCase_desc">TotalRecoveredCase:
							desc</option>
						<option value="newRecoveredCase">NewRecoveredCase</option>
						<option value="newRecoveredCase_desc">NewRecoveredCase:
							desc</option>
						<option value="totalDeathCase">TotalDeathCase</option>
						<option value="totalDeathCase_desc">TotalDeathCase: desc</option>
						<option value="newDeathCase">NewDeathCase</option>
						<option value="newDeathCase_desc">NewDeathCase: desc</option>


					</select>
				</form>
			</div>
		</div>

		<table class="table" id="table">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>State</th>
					<th>Country</th>
					<th>Total Reported Cases</th>
					<th>New Reported Cases</th>
					<th>Total Recovered Cases</th>
					<th>New Recovered Cases</th>
					<th>Total Death Cases</th>
					<th>New Death Cases</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${coronavirusCasesList}">
					<td th:text="${listStat.index+1}"></td>
					<td th:text="${list.state}"></td>
					<td th:text="${list.country}"></td>
					<td th:text="${list.totalReportedCases}" class="bg-reported">0</td>
					<td th:text="${list.newReportedCases}" class="bg-reported">0</td>
					<td th:text="${list.totalRecoveredCases}"
						class="bg-recovered">0</td>
					<td th:text="${list.newRecoveredCases}"
						class="bg-recovered">0</td>
					<td th:text="${list.totalDeathCases}" class="bg-death">0</td>
					<td th:text="${list.newDeathCases}" class="bg-death">0</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>

